@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-brandImg {
    background: url("assets/img/bg-brand.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bg-yellowImg {
    background: url("assets/img/bg-brand.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bg-accent {
    background: url("assets/img/light-accent.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .bg-sideaccent {
    background: url("assets/img/side-accent.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
}

::-webkit-scrollbar {
  height: 100%;
  width: 0.75rem;
  background-color: initial;
}
body::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: #344054;
}
::-webkit-scrollbar-track {
  background-color: initial;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 0.125rem solid #dbdfe6;
  background-clip: content-box;
  background-color: #dbdfe6;
}
::-webkit-scrollbar-button {
  display: none;
}

body {
  background-color: #000000;
  font-family: "Inter", sans-serif !important;
  color: #a5adc0;
}
