@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-brandImg {
    background: url("assets/img/bg-brand.svg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bg-yellowImg {
    background: url("assets/img/bg-brand.svg") no-repeat;
    background-size: cover;
    background-position: center;
  }
}

::-webkit-scrollbar {
  height: 100%;
  width: 0.75rem;
  background-color: initial;
}
body::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: #344054;
}
::-webkit-scrollbar-track {
  background-color: initial;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 0.125rem solid #dbdfe6;
  background-clip: content-box;
  background-color: #dbdfe6;
}
::-webkit-scrollbar-button {
  display: none;
}
